/* CUSTOM STYLES */
nav {
  width: 100%;
  padding: 10px 0;
}

.transparent {
  background: rgba(0, 0, 0, 0.5);
  /*background-color: transparent !important;*/
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
button{
  border-radius: 8px;
}
nav a:hover {
  color: #7f4dd2;
}
/*card content*/
.card{
  border-radius: 15px;
}

.footer {
  background-color: #83A2A7;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3%;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

.space {
  margin: 15px 0;
}

.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}

.App-header {
  background-color: #acc55d;
  height: 400px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 90px;
  padding-bottom: 10px;
}

.App-intro {
  font-size: large;
}

/*header*/
header{
  background-image: url('https://images.studentuniverse.com/new/suwebui/photos/top/plane-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/*about me profile*/
.profile {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  padding: 100px, 0px, 100px, 0px;
}

.card-content {
  font-size: 24px;
}

.team-link{
  font-size: 20px;
  color: #3d3b3b;
}

/*how it works*/
.About-container-how {
  padding-top: 360px;
  padding-bottom: 100px;
  background-color: #83A2A7;
}

.how-it-works{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 300px;
  /*margin: 3px;*/
  /*padding: 10px 20px;*/
  font-size: 20px;
  text-align: center;
}



.how{
  font-size: 100px;
  text-align: center;

}

/* team section */
#team {
  padding: 60px 0;
}
#team-description {
  font-size: 18px;
  padding: 10px 0;
 /* font-weight: lighter;*/
}

/*restaurant results*/
.yelp{
  height: 30px;
  width: 30px;
}
.card-image-business img{
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 15px;
}

/*saved restaurants*/
.card-image-saved img{
  max-height: 300px;
  max-width: 300px;
  padding-top: 8px;
  border-radius: 15px;
}
.restaurant-saved{
 /*text-align: center;*/
}

.saved-business{
  padding-top: 320px;
}

/*search container*/
.Search{
  padding-top: 320px;
}

.login-form{
  padding-top: 320px;
}

.signup-form {
  padding-top: 400px;
}

/*packing list*/
.packing-list{
  background: url('https://i.imgur.com/A7qKs0ml.jpg');
  padding-right: 50px;
}
